//--> Make A Main Color In Class
.main-color { color: var(--main-Color) !important }

//-> Style Of The Diveder
.divad { display: block; margin: 12px 0; }

//--> Style Of The Overlay
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6)
}
