//======================================= Start Footer ============================
footer {
    background: #000; color: #CCC; padding: 25px 0 0 0;
    ul {
        margin: 0; padding: 0;
        li {
            display: inline-block; margin: 0 10px 0;
            a { color: #CCC }
        }
    }
    p { margin: 15px 0; font-weight: 600 }
    //--> Style Of Footer In Small Screen
    @include SScreen {
        ul li { display: inline-block; margin: 0 }
    }
}
//======================================= End Footer ============================
